# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex
# VisualStudio
*.exp
*.iobj
*.ipdb
*.pdb
*.ncb
*.suo
*.ilk
build/vs*/UpgradeLog.XML
build/vs*/_UpgradeReport_Files/
build/vs2008/*.vcproj.*
build/vs*/*Debug*
build/vs*/*Release*


Makefile
Makefile.in
autogen.sh.*
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
mangband
mangclient
missing
src/.dirstamp
src/client/.deps/
src/client/.dirstamp
src/common/.deps/
src/common/.dirstamp
src/config.h
src/config.h.in
src/server/.deps/
src/server/.dirstamp
src/stamp-h1

lib/bone/*.txt
lib/user/*.txt
lib/data/*.raw
lib/save/*
!lib/save/server.*

*.patch
*.orig
*.rej
*~ # backup files of my editor -flm
