# Network Options
#####################################################################

# Option : determine whether or not we should contact the metaserver.  
# If you enable this your server will show up on the metaserver list and
# players from the Internet may try connecting to it.  If you aren't on the
# internet, or don't want your server to be publicly advertised, then disable
# this option.

REPORT_TO_METASERVER = false
# REPORT_TO_METASERVER = true

# Option : specify which metaserver address we should try to contact.

META_ADDRESS = "mangband.org"

# Which port should our server listen on?  You only need to change this if
# you are running multiple servers on one computer.  This should be an 
# even number, because TCP_PORT+1 is used for the admin console.

TCP_PORT = 18346

# If you need to bind to a specific name or IP use these.
#BIND_NAME = "your.domainname-here.com"
#BIND_IP = "0.0.0.0"


# Administration and Security options
# These items *MUST* be Set!
#####################################################################

CONSOLE_PASSWORD = THIS MUST BE SET BY YOU.

DUNGEON_MASTER_NAME = "Gandalf"

# Option : make the dungeon master not show up on the player list, and
# don't tell the players when he enters or exits the game.

SECRET_DUNGEON_MASTER = true

#MAINTAINER = "you@your-emailaddress.com"

# Gameplay Options
#####################################################################

# Option: Ironman Mode!
# Set this option to run the game in Ironman mode.
IRONMAN = false

# Option : set the speed of the game, in frames per second.  
# In 0.7.0, the framerate has been increased by a factor of five relative
# to the earlier game versions.
FPS = 75

# Option : give mages an extra hitpoint per level.  This makes the game
# a bit easier for the mage, especially in the beginning.
MAGE_HITPOINT_BONUS = false

# Option : prevent first level people from droping items or gold. This
# option maybe annoying to first level characters, but will hopefully
# discourage people from writing scripts to bring in characters, drop
# their stuff, suicide them, etc, as a way of accumulating funds.
NEWBIES_CANNOT_DROP = true

# Option : disable stealing (j) gamewide.
NO_STEAL = false

# Option : bumping into a door will automatically try to open it
DOOR_BUMP_OPEN = true

# Option: ghosts can dive
GHOST_DIVING = false

# How long (per level of the unique) it should take a unique to respawn
BASE_UNIQUE_RESPAWN_TIME = 60

# The maximum respawn time of any unique -- to make all uniques have the
# same respawn time, set this equal to BASE_UNIQUE_RESPAWN_TIME.
# this should be less than 140 * BASE_UNIQUE_RESPAWN_TIME to be effective
MAX_UNIQUE_RESPAWN_TIME = 20000

# Option : set the base chance of a level respawning.
# This number roughly defines what the "one in x" chance of 50 feet respawning
# every minute, if no one is activly playing on it, should be.  The chance of a
# level respawning is reduced as the depth increases, such that this number
# also defines the "one in 2*x" chance of 250 feet respawning, the "one in 3*x"
# chance of 750 feet respawning, etc.  To prevent levels from unstaticing
# themselves, set this number to -1.
LEVEL_UNSTATIC_CHANCE = 30

# Option : set the number of minutes that a player will be automatically retired
# in after winning the game.  Setting this option is highly advised to prevent
# one character from killing Morgoth multiple times, not letting go of the best
# artifacts, etc.  To disable the retire timer, set this option to -1.  To set
# instant retiring upon victory, set this option to 0.
RETIRE_TIMER = 60000

# Option : build a wall around the town, which would not let anyone out in
# the wilderness.
TOWN_WALL = false

# Maximum number of townies that can be in the town at once
MAX_TOWNIES = 100

# Maximum number of trees for town. 0 means no trees in town.
# To disable the tree limit, set this option to -1.
MAX_TREES = 100

# Allow random artifacts to be generated
ALLOW_RANDOM_ARTIFACTS = false

# Artifact preservation mode.
# 0 - Standard artifact behaviour, found repeatedly
# 1 - Artifacts are found only once, ever
# 2 - Selling artifact to a shop makes it unfindable.
# 3 - Abandoning an artifact in the dungeon makes it unfindable (not implemented)
PRESERVE_ARTIFACTS = 2

# Output Scene of Death in character dumps with colour codes, if enabled
# these need additional processing to render.
CHARACTER_DUMP_COLOR = false

# Limit the number of houses a character can own.
# Set to 0 for no limit.
MAX_HOUSES = 2

