<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MAngband Client</string>
	<key>CFBundleGetInfoString</key>
	<string>MAngband 1.5.3</string>
	<key>CFBundleVersion</key>
	<string>1.5.3</string>
	<key>CFBundleShortVersion</key>
	<string>1.5</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>launch_mangclient.sh</string>
	<key>CFBundleIconFile</key>
	<string>mangclient.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.mangband.mangclient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
